.counter-res {
  font-size: 28px;
  font-weight: bold;
}

.counter-btn {
  display: block;
  min-width: 160px;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: rgb(39, 74, 139);
  font-size: 20px;
  cursor: pointer;
}

.counter-btn:hover {
  filter: drop-shadow(0 0 1em #646cffaa);
}