.greeting-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

.greeting-input {
  padding: 10px;
  font-size: 20px;
  border-radius: 4px;
}

.greeting-msg {
  font-size: 28px;
  font-weight: bold;
}